
@{
    ViewBag.Title = "Error";
}

<h2 style="color:red; ">The username or email address alredy exist please login or register another user</h2>

@Html.ActionLink("Login", "Login", "Login")
<br/>
@Html.ActionLink("Register", "Register", "Login")