@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<h6>This is our online shope where customers can buy anything they want at the comfort of their homes, using their phones or computers.</h6>
