@{
    ViewBag.Title = "Online shopping";
}

<div class="jumbotron">
    <h1>Online Shopping</h1>
    <p class="lead">Welcome to our online shop hope you find what you are looking for.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome back</h2>
        <p>Please login to start your shopping</p>
        <p><a class="btn btn-default" href="/Login/Login">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New user?</h2>
        <p>please register your account to start enjoying your shopping. </p>
        <p><a class="btn btn-default" href="/Login/Register">Register &raquo;</a></p>
    </div>
    
</div>